{% extends "oil_stats/oil_index.html" %}
{% load static %}

{% block title %}Замена фильтроэлемента | Форма добавления записи{% endblock %}

{% block content %}
<div class="form-card">
    <form method="post" action="{% url 'add_strainer_change' %}">
      {% csrf_token %}
      <h5 class="form-title">Добавить запись о замене фильтроэлемента:</h5>
      <div class="form-card-body">
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="form-button">Добавить</button>
      </div>
    </form>
</div>
{% endblock %}