{% extends "oil_stats/oil_index.html" %}
{% load static %}

{% block title %}Перекачка масла | Форма добавления записи{% endblock %}

{% block content %}
<div class="form-card">
    <form method="post" action="{% url 'add_pump' %}">
      {% csrf_token %}
      <h5 class="form-title">Добавить запись о перекачке масла:</h5>
      <div class="form-card-body">
        <div class="form-group">
          {{ form.as_p }}
        </div>
      </div>
      <button type="submit" class="form-button">Добавить</button>
    </form>
</div>
{% endblock %}