{% extends "mysite/base.html" %}
{% load static %}
{% load cache %}
{% load render_table from django_tables2 %}

{% block title %}Модуль учёта ГСМ{% endblock %}

{% block style %}
  <link href="{% static 'oil_stats/css/styles.css' %}" rel="stylesheet">
  <script type="text/javascript" src={% static "oil_stats/js/script.js" %}></script>
{% endblock %}

{% block header %}
  <div class="jumbotron">
    <h1>Модуль учёта ГСМ</h1>
  </div>
{% endblock %}


{% block content %}
  <section class="content">
    <div class="table-card">
      <h3 class="table-title">
        Последние операции по перекачке масла. 
        <a href="{% url 'add_pump' %}"> Добавить запись</a>
      </h3>
      {% render_table pump_table %}
    </div>

    <div class="table-card">
      <h3 class="table-title">
        Последние операции по замене фильтроэлементов. 
        <a href="{% url 'add_strainer_change' %}"> Добавить запись</a>
      </h3>
      {% render_table strainer_table %}
    </div>
  
    <div class="table-card">
      <h3 class="table-title">
        Последние данные по расходу масла. 
        <a href="{% url 'add_util' %}"> Добавить запись</a>
      </h3>
      {% render_table util_table %}
    </div>

  </section>
{% endblock %}
